// BULMA
$gap: 36px;
$column-gap: 18px;

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";
@import "bulma/sass/elements/container";
@import "bulma/sass/components/level";
@import "bulma/sass/components/navbar";

// FONT IMPORTS
@font-face {
  font-family: 'poppins_light';
  src: url('../fonts/poppins-light-webfont.woff2') format('woff2'),
  url('../fonts/poppins-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins_regular';
  src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
  url('../fonts/poppins-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppins_medium';
  src: url('../fonts/poppins-medium-webfont.woff2') format('woff2'),
  url('../fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/proximanova-regular-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proximanova-semibold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold_italic';
  src: url('../fonts/proximanova-semibolditalic-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-semibolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_extrabold';
  src: url('../fonts/proximanova-extrabold-webfont.woff2') format('woff2'),
  url('../fonts/proximanova-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

// Dala Base Styles
@import "./all";

body {
  @include body-text;
  color: $color-slate;

  font-variant-ligatures: common-ligatures;
  -moz-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";
  font-feature-settings: "liga", "clig";
}

.transparent {
  opacity: 0;
}
.opaque {
  opacity: 1;
}