@import '../../utils/styles/all';

#Team {
  .columns {
    margin-left: 0;
    margin-right: 0;
    @media screen and (min-width: $tablet) {
      margin-left: -18px;
      margin-right: -18px;
    }
  }
  .team-member-wrapper {
    width: 100%;
    padding: 18px 18px 9px 18px;
    border-top: 1px solid $color-silver;
    border-right: 1px solid $color-silver;
    cursor: pointer;
    position: relative;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    .team-member-button {
      background: none;
      border: none;
      outline: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
    }

    .team-member-image {
      width: 100%;
      margin-bottom: 26px;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .team-member-image:before {
      content: "";
      display: block;
      padding-bottom: 75%;
    }

    .team-member-name {
      @include headline;

      color: $color-scampipurple-shade1;
      padding-bottom: 0;
    }
    .team-member-title {
      @include subheadline-two;

      margin-bottom: 18px;
    }

    @media screen and (min-width: $tablet) {
      float: left;
      width: 50%;
    }

    @media screen and (min-width: $desktop) {
      float: left;
      width: 25%;
    }
  }
  .team-member-wrapper:hover {
    @media screen and (min-width: $tablet) {
      box-shadow: inset $layout-elevation-3;
      background: $color-scampipurple-tint4;
    }
  }
  .team-member-bio {
    @include small-display-text;

    color: $color-walateal-base;
    text-transform: uppercase;
  }
  .team-member-bio-text {
    font-size: 14px;
    line-height: 23px;
    padding: 0 36px;
    margin-bottom: 36px;

    @media screen and (min-width: $tablet){
      font-size: 16px;
      line-height: 26px;
    }
  }

  .popupbox-overlay {
    background: none repeat scroll 0% 0% $color-scampipurple-shade1;
  }
  .popupbox-wrapper {
    @media screen and (min-width: $tablet) {
      max-width:400px;
      width: 50%;
    }
  }
  .popup-team-member-image {
    width: 100%;
    margin-bottom: 26px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  .popup-team-member-image:before {
    content: "";
    display: block;
    padding-bottom: 50%;

    @media screen and (min-width: $tablet) {
      padding-bottom: 75%;
    }
    @media screen and (min-width: $desktop) {
      padding-bottom: 60%;
    }
    @media screen and (min-width: $fullhd) {
      padding-bottom: 75%;
    }
  }
  .popup-team-member-name {
    @include headline;

    color: $color-scampipurple-shade1;
    padding-bottom: 0;
  }
  .popup-team-member-title {
    @include subheadline-two;

    margin-bottom: 18px;
  }

  .tricia {
    background: url("./images/tricia.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .samer {
    background: url("./images/samer.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .ross {
    background: url("./images/ross.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .llew {
    background: url("./images/llew.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .popup-team-bio {
    font-size: 14px;
    line-height: 23px;
  }

  .team-footer {
    border-top: 1px solid $color-silver;
    padding: 36px 0;

    @media screen and (min-width: $desktop){
      padding: 72px 0;
    }

    h3 {
      width: 83.33333%;
      margin-left: 8.33333%;
    }
  }
}