@import '../../utils/styles/all';

#DalaGovernance {
  padding-bottom: gridbase-multiplier(4);
  margin-right: 36px;
  margin-left: 36px;

  .section-header {
    padding-bottom: gridbase-multiplier(2);
  }

  .section-content {
    .columns {
      @include border-radius;

      box-shadow: $layout-elevation-3;
      position: relative;

      .governance-content {
        background: $color-walateal-shade1;
        padding-top: 36px;

        @media screen and (min-width: $desktop) {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 0;
        }
      }
      .governance-image {
        background: $color-walateal-shade2;
      }
    }

    p {
      color: white;
      margin-right: 18px;
      margin-left: 18px;

      @media screen and (min-width: $desktop) {
        margin-right: 0;
        margin-left: 0;
        max-width: 434px;
      }
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 0;
    margin-left: 0;
  }
}