@import '../../utils/styles/all';

#DalaProtocols {
  border-top: 1px solid $color-silver;
  padding-top: gridbase-multiplier(2);
  padding-bottom: gridbase-multiplier(2);
  margin-top: gridbase-multiplier(2);
  margin-right: 36px;
  margin-left: 36px;

  .protocols-hero {
    background: $color-scampipurple-base;
    position: relative;
    z-index: 0;
    padding-top: 18px;
    padding-bottom: 18px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    .hero-body {
      padding-top: 0;
      padding-bottom: 0;

      .protocol-padding {
        padding: 36px 9px;
      }
    }

    .has-text-centered-mobile {
      text-align: center;
      background: $color-scampipurple-shade2;
      line-height: 52px;

      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
  .add-borders {
    border-top: 1px solid rgba($color-scampipurple-tint2, 0.5);
    border-bottom: 1px solid rgba($color-scampipurple-tint2, 0.5);

    @media screen and (min-width: $tablet) {
      border-top: none;
      border-bottom: none;

      border-left: 1px solid rgba($color-scampipurple-tint2, 0.5);
      border-right: 1px solid rgba($color-scampipurple-tint2, 0.5);
    }
  }
  .protocols-hero:after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#746fb0+0,46436a+100 */
    background: $color-scampipurple-base; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(116,111,176,1) 0%, rgba(70,67,106,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(116,111,176,1) 0%,rgba(70,67,106,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(116,111,176,1) 0%,rgba(70,67,106,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#746fb0', endColorstr='#46436a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }

  .section-header {
    padding-bottom: gridbase-multiplier(1);
  }

  .protocol-logo {
    img {
      height: 104px;
      margin-bottom: 8px;
    }
  }

  p {
    color: $color-scampipurple-tint4;
    margin-bottom: 26px;

    font-size: 14px;
    line-height: 23px;

    @media screen and (min-width: $desktop) {
      font-size: 16px;
      line-height: 26px;
    }

    strong {
      font-family: 'proxima_nova_extrabold', sans-serif;
      color: white;
    }
  }
  .no-margin {
    margin-bottom: 0;
  }

  .protocol-header {
    @include headline;

    color: white;
    margin-bottom: 13px;
    font-size: 23px;

    @media screen and (min-width: $desktop) {
      font-size: 26px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-right: 0;
    margin-left: 0;
  }
}