@import '../../utils/styles/all';

#News {
  .articles {
    border-top: 1px solid $color-silver;
  }
  .article-slide {
    border-right: 1px solid $color-silver;
    position: relative;
  }
  .article-image {
    @include border-radius;

    position: relative;
    margin: 18px 18px 0 18px;
    background: $color-charcoal-base;
  }
  .article-image:before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  .article-details {
    text-align: center;
    padding: gridbase-multiplier(2) 0 gridbase-multiplier(3) 0;
  }
  .article-source {
    @include caption-one;

    text-transform: uppercase;
  }
  .article-headline {
    @include display;

    color: $color-charcoal-base;
  }
  .article-description {
    padding-top: gridbase-multiplier(2);
    margin-top: gridbase-multiplier(1);
    position: relative;
  }
  .article-description:before {
    @include setAbsolute($top: 0, $left: 50%);
    @include transform(translateX(-50%));

    content: "";
    height: 4px;
    width: 25%;
    background: $color-scampipurple-tint2;
  }
}